<launch>
    <node pkg="lidar_pkg" type="lidar_clustering.py" name="lidar_clustering" output="screen">
        <param name="ransac_threshold" value="0.18" />
        <param name="min_cluster_size" value="25" />
        <param name="min_samples" value="5" />
        <param name="cluster_selection_epsilon" value="0.1" />

        <param name="roi_x_min" value="-15.0" />
        <param name="roi_x_max" value="15.0" />
        <param name="roi_y_min" value="-3.0" />
        <param name="roi_y_max" value="3.0" />
        <param name="roi_z_min" value="-2.0" />
        <param name="roi_z_max" value="0.5" />

        <param name="lidar_topic" value="/velodyne_points" />
    </node>
</launch>